<div id="sidebar">
  <header>
    <img src="https://media-exp2.licdn.com/dms/image/C4D03AQFAerZ5AFxqIw/profile-displayphoto-shrink_400_400/0/1643499890559?e=1661385600&v=beta&t=oCdd-00fR_ba5I_Gk49SSF_h6nDQQvoMxVlznGQd7Go" alt="Profile Picture" class="inline"/>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
